.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.entry-form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.form-container h2 {
  color: var(--color-6);
}
