.entry-form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.name-form {
  display: flex;
  justify-content: center;
  margin: 5px;
}
.name-form input {
  background-color: var(--color-2);
  border: 1px solid var(--color-3);
  font-family: 'fira code', sans-serif;
  width: 200px;
}

button {
  font-family: 'fira code', sans-serif;
  text-transform: uppercase;
  background-color: var(--color-2);
  border: 1px solid var(--color-3);
  border-radius: 2px;
  color: var(--color-4);
  margin: 4px;
}

button:hover {
  cursor: pointer;
  background-color: var(--color-3);
  color: var(--color-2);
  border: 1px solid var(--color-4);
}

textarea {
  border: 1px solid var(--color-3);
  height: 100px;
  width: 200px;
  background-color: var(--color-2);
  color: var(--color-5);
}

.form-container h2 {
  color: var(--color-6);
}
