.header {
  display: flex;
  background-color: #fe5f55;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px 20px;
  filter: drop-shadow(0px 3px 4px #bbb6b6);
}

.header img {
  width: 100px;
}

h1 {
  color: #fff;
  text-transform: lowercase;
}

h2 {
  color: #ff2e1f;
}

.spaceholder {
  width: 120px;
}
