@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Fira Code', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-1: #fefefe;
  --color-2: #f9ffeb;
  --color-3: #ff8d85;
  --color-4: #ff2e1f;
  --color-5: #fffff;
}

[data-theme='dark'] {
  --background: black;
  --secondary-background: #f9ffeb;
  --text-secondary: grey;
  --accent: darkred;
}

.App {
  color: var(--text-primary);
  background-color: var(--background);
}

.App h1 {
  color: var(--text-primary);
}

button {
  color: var(--text-primary);
  background-color: var(--background);
  border: 2px var(--text-primary) solid;
}
